In [ ]:
#title DataScienceEcosystem.ipynb

#Exercise 2: Create markdown cell with title of the notebook
#Create a markdown cell with the title Data Science Tools and Ecosystem using H1 style heading.
#Take a screenshot of the markdown cell and name it as 2-title.png (Images can be saved with either the .jpg or .png extension.)

# Title of the Notebook
Data Science Tools and Ecosystem

#Exercise 3 - Create a markdown cell for an introduction
#Write an introductory sentence about the notebook such as the follows:In this notebook, Data Science Tools and Ecosystem are summarized.
#Take a screenshot of the markdown cell and name it as 3-intro.png (Images can be saved with either the .jpg or .png extension.)

In this notebook, Data Science Tools and Ecosystem are summarized

In [ ]:
#Exercise 4 - Create a markdown cell to list data science languages
#Start the cell with an overview line such as:
#Some of the popular languages that Data Scientists use are:
#Then create an ordered list (i.e. numbered) listing 3 (or more) commonly used languages for data science.
#Take a screenshot of the markdown cell and name it as 4-dslanguages.png (Images can be saved with either the .jpg or .png extension.)

Popular languages Data Scientists use are:
1. Phyton
2. R
3. JavaScript
4. SQL

In [ ]:
#Exercise 5 - Create a markdown cell to list data science libraries
#Add an overview line to the cell like:
#Some of the commonly used libraries used by Data Scientists include:
#Below this line add an ordered list listing 3 (or more) commonly used libraries in data science.
#Take a screenshot of the markdown cell and name it as 5-dslibraries.png (Images can be saved with either the .jpg or .png extension.)

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. Pandas
3. Seaborn
4. Folium
5. Plotly
6. Pywafle

#Exercise 6 - Create a markdown cell with a table of Data Science tools
#Create a single column table in this cell with the first row containing the header Data Science Tools. 
#The subsequent three rows in the table should indicate three development environment open source tools used in data science.
#Take a screenshot of the markdown cell and name it as 6-dstools.png (Images can be saved with either the .jpg or .png extension.)
#Hint: Refer to Lab: Using Markdowns in Jupyter Notebooks to create a table.

|  Data Science Tools |
|---------------------|
|Relational Databases |
|NoSQL Databases      |
|Big Data             |

Exercise 7 - Create a markdown cell introducing arithmetic expression examples
Add a line in this cell with H3 style heading with text like:
Below are a few examples of evaluating arithmetic expressions in Python.
Take a screenshot of the markdown cell and name it as 7-introarithmetic.png (Images can be saved with either the .jpg or .png extension.)

In [ ]:
### Below are a few examples of evaluating arithmetic expressions in Python

In [26]:
56+89

145

In [18]:
60-40

20

In [22]:
400/4

100.0

In [24]:
45*3

135

In [ ]:
Exercise 8 - Create a code cell to multiply and add numbers

In this code cell evaluate the expression (3*4)+5.
Insert a comment line before the expression to explain the operation e.g.  This a simple arithmetic expression to mutiply then add integers.
Then execute the cell to ensure the expression returns the expected output of 17.
Take a screenshot of the code cell with output and name it as 8-multiplyandaddintegers.png (Images can be saved with either the .jpg or .png extension.)

### this is a simple arithmetic expression to multiply then add integers
(3*4)+5

In [ ]:
#Exercise 9 - Create a code cell to convert minutes to hours
In this code cell write an expression that converts 200 minutes into hours.
Insert a comment line before the expression to explain the operation e.g.  This will convert 200 minutes to hours by diving by 60.
Run the cell to evaluate the expression.
Take a screenshot of the code cell with output and name it as 9-hourstominutes.png (Images can be saved with either the .jpg or .png extension.)

In [86]:
#### this will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

Exercise 10 - Insert a markdown cell to list Objectives
Below the introduction cell created in Exercise 3, insert a new markdown cell to list the objectives that 
this notebook covered 
(i.e. some of the key takeaways from the course). In this new cell start with an introductory line titled: 
 Objectives: in bold font. Then using an unordered list (bullets) indicate 3 to 5 items covered in this notebook, 
    such as List popular languages for Data Science.
Take a screenshot of the markdown cell and name it as 10-objectives.png (Images can be saved with either the .jpg or .png extension.)

Title:"Data Science Tools and Ecosystem"

Objectives: 

-Familiarize with Data Science Task Categories:
*Data Management* *Data Integration and Transformation* *Data Visualization* *Modelling*

-Familiarize with Data science Ecosystem:
*open source* *commercial options* *traditional desktop applications* *server-based* *cloud-based services*  

-Familiarize with Data Management Tools
*Relational Databases* *NoSQL Databases* *Big Data platforms*

-Familiarize with Data Integration and Transformation Tools
*Apache Airflow* *Apache Kafka* 

-Familiarize with Data Visualization Tools
*Cognos Analytics* *Tableau and PowerBI*   

-Familiarize Code Asset Management Tools: 
*Git* *GitHub*

-Familiarize with Development Environments 
*Jupyter Notebooks* *RStudio* 

-Familiarize with Popular languages Data Scientists used
*Phyton* *R8 *JavaScript* *SQL*

Exercise 11 - Create a markdown cell to indicate the Author's name
In this markdown cell markdown cell include the following text Author in H2 style heading. Include your name as regular text 
below the word Author.
Take a screenshot of the markdown cell and name it as 11-authordetails.png (Images can be saved with either the .jpg or .png extension.)
Note: Save and download the notebook.

## Author 

Idalmis Santana Porben

In [ ]:
Exercise 12 - Share your notebook through GitHub

Upload your notebook to a public respository on GitHub.

Note : Please keep the GitHub repo link of the notebook handy.
You will need to submit this link as a part of the assignment evaluation.

Hint: Refer to Lab: Working with files in Jupyter Notebooks to download the notebook from SN Labs.

Exercise 13 -Take a screenshot of the first page of the notebook and save it as 1-notebook.png
(Images can be saved with either the .jpg or .png extension.)

Refer to Hands-on Lab: Getting Started with GitHub to upload the downloaded notebook to GitHub.